/* #part /css/AboutText */

* {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
}

input {
    appearance: var(--input-appearance);
    -webkit-appearance: var(--input-appearance);
    -moz-appearance: var(--input-appearance);
}

.invisible {
    display: var(--invisible-display);
}

.about {
    padding: 0 10px;
}

.about .center {
    display: flex;
    justify-content: center;
}
